<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%}{%endblock%} - DEMO FLASK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/tablero.css') }}" type="text/css">
</head>
<body>
    <!--Se crear el contenedor del titulo y del tablero de ajedrez-->
    <div class="contenedor">
      <!--Se crear el contenedor del titulo-->
      <div class="titulo"><h1>Welcome to Tablero de Ajedrez Demo!</h1>
      </div>
      <!--Se crear el contenedor del tablero de ajedrez-->
      <div class="tablero">
        <!--Se crean 1 tabla que contenga las filas y columnas para crear el tablero de ajedrez-->
        <table class="tabla_tablero">          
          {%block contenido%}
          {%endblock%}
        </table>
    </div>
  </div>
</body>
</html>