{% extends "tablero.html" %}
{%block titulo%}TABLERO AJEDREZ ESTATICO{%endblock%}
{%block contenido%}
          <tr class="fila">
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
          </tr>
          <tr class="fila">
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
          </tr>
          <tr class="fila">
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
          </tr>
          <tr class="fila">
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
        <tr class="fila">
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
          </tr>
          <tr class="fila">
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
        <tr class="fila">
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
              <td class="color1"></td>
              <td class="color2"></td>
          </tr>
          <tr class="fila">
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
{%endblock%}